# 忽略所有
/*

# 放行 Assets 和 ProjectSettings
!/Assets/
!/ProjectSettings/
!/.gitignore

# Unity 生成的本地文件（Assets 内的也需要忽略）
Assets/[Ll]ibrary/
Assets/[Tt]emp/
Assets/[Oo]bj/
Assets/[Bb]uild/
Assets/[Bb]uilds/
Assets/[Ll]ogs/
Assets/[Uu]ser[Ss]ettings/

# 压缩包和大型二进制文件
Assets/*.rar
Assets/*.rar.meta
Assets/*.zip
Assets/*.zip.meta
Assets/*.7z
Assets/*.7z.meta
